{% extends '@BDUser/base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">signin</button>
    {{ form_end(form) }}
{% endblock %}